.navbar {
  font-family: "Montserrat", sans-serif !important;
  background-color: dodgerblue !important;
  border-bottom: 1px dashed white !important;
  color: white !important;
}

.border-row {
  border-bottom: 1px dashed rgb(166, 166, 166);
}

.blocklyToolboxDiv {
  border-right: 1px dashed rgb(166, 166, 166) !important;
}

.injectionDiv {
  border: 1px dashed rgb(166, 166, 166) !important;
}

.blocklyToolboxContents {
  padding: 0.5em;
}

.blocklyTreeRow {
  padding: 6px 3px 6px 3px;
  margin-bottom: 0.5em;
  border-radius: 4px;
  height: initial;
}

div.blocklyTreeRowContentContainer span.blocklyTreeIcon {
  display: none !important;
}

.dropdown-menu {
  background-color: #f0f0f0 !important;
}

.dropdown-item {
  color: #4d4d4d !important;
}

.dropdown-item:hover {
  background-color: dodgerblue !important;
  color: white !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: gainsboro !important;
}

.blocklyTreeLabel {
  font-family: "Montserrat", sans-serif !important;
  color: white;
}

.blocklyIconShape {
  fill: dodgerblue;
}

.blocklyIconSymbol {
  fill: white;
}

.btn-ctrl {
  background-color: #d9d9d9 !important;
  font-size: 1.5rem !important;
}

.btn-ctrl:hover {
  background-color: dodgerblue !important;
  color: white !important;
}

.btn-active {
  background-color: dodgerblue !important;
  color: white !important;
}

.blocklyTreeRowContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sketch-name {
  font-family: "Montserrat";
  font-size: 0.9em;
}
